*{
   margin: 0;
   padding: auto;
    font-family: 'Courier New', Courier, monospace;
}
.navbar{

    height: 4em;
    background-color: rgb(24, 105, 220);
}
.logo{
    padding: 1em;
    font-size: x-large;
    font-weight: bold;
   
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: start;

}
ul{
    list-style: none;
    display: flex;
    gap:  2em;
    margin-right: 2em;
    margin-top: 1em;
    height: 100%;
   }
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
    background: #36b3d9;
}
.herotext{
    text-align: center;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 10em;
}
.footer{
    background-color: rgb(84, 161, 228);
    display: flex;   
    justify-content: space-between;
    
}
.footercontainer{
    padding: 2cqb;
    height: 11em;
    border-radius: 1em;
    margin-bottom: 0;
  
    background: #7edada;

}